{{!-- template-lint-disable require-button-type no-action no-curly-component-invocation no-link-to-positional-params --}}
<h2 id="title">Welcome to Ember</h2>
{{#link-to 'test'}}Index{{/link-to}}
{{outlet}}
<button class="add-body-class" {{action "addBodyClass"}}> Add dynamic-yolo class </button>