{{!-- template-lint-disable no-action --}}
<h2 id="title">Welcome to Ember</h2>
<LinkTo @route='test'>Index</LinkTo>
{{outlet}}
<button class="add-body-class" {{action "addBodyClass"}} type="button"> Add dynamic-yolo class </button>